<span class="header">Output</span>
<div class="row">
  <span class="title">Machine</span>
  <span id="mod_roland_machine">MDX-20</div>
</div>
<div class="row">
  <span class="title">speed (mm/s):&nbsp;</span>
  <input type="text" id="mod_speed" size="3" value="">
</div>
<div class="col">
  <div class="row">
    <span class="title">x0 (mm):&nbsp;</span>
    <input type="text" id="mod_x0" size="3" value="10">
  </div>
  <div class="row">
    <span class="title">y0 (mm):&nbsp;</span>
    <input type="text" id="mod_y0" size="3" value="10">
  </div>
  <div class="row">
    <span class="title">z0 (mm): &nbsp;</span>
    <input type="text" id="mod_z0" size="3" value="0">
  </div>
</div>
<div>
  {{#if show_move }}
  <input type="button" id="mod_move_xyz" value="Move to xyz0"  class="button">
  {{/if }}
</div>
<div class="row">
  <span class="title">zjog (mm):&nbsp;</span>
  <input type="text" id="mod_jog" size="3" value="2">
</div>
<div>
  {{#if show_move }}
  <input type="button" id="mod_move_xy" value="Move to xy0 zjog" class="button">
  {{/if }}
</div>
<div class="col">
  <div class="row">
    <span class="title">xhome (mm):&nbsp;</span>
    <input type="text" id="mod_xhome" size="3" value="0">
  </div>
  <div class="row">
    <span class="title">yhome (mm):&nbsp;</span>
    <input type="text" id="mod_yhome" size="3" value="152.4">
  </div>
  <div class="row">
    <span class="title">zhome (mm):&nbsp;</span>
    <input type="text" id="mod_zhome" size="3" value="60.5">
  </div>
</div>
<div>
  {{#if show_move }}
  <input type="button" id="mod_home" value="Move to xyzhome and stop" class="button">
  {{/if }}
</div>



