<!-- mod_png_input_controls -->
<span class="header">Input</span>
<div class="row">
  <span class="title">File:</span>
  <span class="ellipsis">{{ input_name }}</span>
</div>
<div class="row">
  <span class="title">DPI:</span>
  <input type="text" id="mod_dpi" size="3" value="{{ dpi }}" class="input-form small">
</div>
<span class="title">Dimensions:</span>
<span>{{ img_width }} x {{ img_height}} px</span>
<span id="mod_mm">{{ mm_w }} x {{ mm_h }} mm</span>
<span id="mod_in">{{ in_w }} x {{ in_h }} in</span>
<input type="button" value="Invert image" id="invert_image_btn" class="button">
